<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Ajouter</h4>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="dateProjection">Date</label>
						<input type="date" id="dateProjection" class="form-control" [(ngModel)]="projectionFilm.dateProjection">
					</div>
					<div class="form-group">
							<label for="prix">Prix</label>
							<input id="prix" class="form-control" [(ngModel)]="projectionFilm.prix">
						</div>
					<div class="form-group">
						<label for="film">Film</label>
						<select class="form-control" [(ngModel)]="projectionFilm.film">
							<option *ngFor="let f of films" [ngValue]="f">{{f.titre}}</option>
						</select>
					</div>
					<div class="form-group">
						<label for="salle">Salle</label>
						<select class="form-control" [(ngModel)]="projectionFilm.salle">
							<option *ngFor="let s of salles" [ngValue]="s">{{s.name}}</option>
						</select>
					</div>
					<button (click)="save()" class="btn bg-primary espace">
						Sauver
					</button>

				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h4>Lister</h4>
				</div>
				<div class="panel-body">
					<div *ngIf="projectionFilms.length>0">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Date</th>
									<th scope="col">Prix</th>
									<th scope="col">Salle</th>
									<th scope="col">Film</th>
									<!-- <th scope="col">Seance</th> -->
									<th scope="col">Modifier</th>
									<th scope="col">Supprimer</th>
								</tr>
							</thead>

							<tbody>
								<tr *ngFor="let pf of projectionFilms">
									<th scope="col"> {{pf.id}}</th>
									<td> {{pf.dateProjection | date:'dd/MM/yyyy'}} </td>
									<td> {{pf.prix}} </td>
									<td> {{pf.salle.name}} </td>
									<td> {{pf.film.titre}} </td>
									<!-- <td> {{pf.seance.heureDebut | date:'hh:ss'}} </td> -->
									<td><button class="btn btn-primary" (click)="detail(pf.id)">Modifier</button></td>
									<td><button class="btn btn-danger" (click)="delete(pf.id)">Supprimer</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
