<div class="container">
<div class="row">
<div class="col-md-5">
<div class="panel panel-primary">
<div class="panel-heading">
<h4>Ajouter Une Place</h4>
</div>
<div class="panel-body">
<!-- formulaire de saisie de place -->
<div>

	<div class="form-group">
								<label for="name">Numero</label>
								<input id="name" class="form-control" [(ngModel)]="place.numero">
							</div>
							<div class="form-group">
								<label for="name">Latitude</label>
								<input id="name" class="form-control" [(ngModel)]="place.latitude">
							</div>
							<div class="form-group">
								<label for="name">Longitude</label>
								<input id="name" class="form-control" [(ngModel)]="place.longitude">
							</div>
							<div class="form-group">
								<label for="name">Altitude</label>
								<input id="name" class="form-control" [(ngModel)]="place.altitude">
							</div>

							<div class="form-group">
							<label for="categorie">Ticket</label>
							<select class="form-control" [(ngModel)]="place.ticket">
								<option *ngFor="let t of tickets" [ngValue]="t">{{t.name}}</option>
							</select>
						</div>
						<div class="form-group">
							<label for="categorie">Salle</label>
							<select class="form-control" [(ngModel)]="place.salle">
								<option *ngFor="let s of salles" [ngValue]="s">{{s.name}}</option>
							</select>
						</div>

<!-- <input [(ngModel)]="place.numero">
<input [(ngModel)]="place.latitude">
<input [(ngModel)]="place.longitude">
<input [(ngModel)]="place.altitude"> -->

<button (click)="save()" class="btn bg-primary espace">
Ajouter
</button>
</div>
</div>
</div>
</div>
<div class="col-md-7">
<div class="panel panel-danger">
<div class="panel-heading">
<h4>Lister les places</h4>
</div>
<div class="panel-body">
<div *ngIf="places.length>0">
<table class="table table-striped">
	<thead>
<tr>
	<th scope="col">Id</th>
	<th scope="col">Numero</th>
	<th scope="col">Latitude</th>
	<th scope="col">Longitude</th>
	<th scope="col">Altitude</th>
	<th scope="col">Modifier</th>
	<th scope="col">Supprimer</th>
<!-- <td>ID</td>
<td>NUMERO</td>
<td>LATITUDE</td>
<td>LONGITUDE</td>
<td>ALTITUDE</td> -->

</tr>
</thead>
<tr *ngFor="let p of places">
<th scope="col"> {{p.id}}</th>
<td> {{p.numero}}</td>
<td> {{p.latitude}}</td>
<td> {{p.longitude}}</td>
<td> {{p.altitude}}</td>

<td><a class="btn btn-primary" (click)="detail(p.id)">Detail</a></td>
<td><a class="btn btn-danger" (click)="delete(p.id)">Delete</a></td>
</tr>
</table>
</div>
</div>
</div>
</div>
</div>
</div>