<div class="row">
	<div class="list-group col-md-2">
		<ul>
			<li *ngFor="let v of villes" routerLink="/client/cities?city={{v.id}}"
				class="list-group-item list-group-item-action">
				{{v.name}}</li>
		</ul>
	</div>
	<div class="container col-md-10">
		jzdcgvezhfvhezjfvcherzcvhjerzvhv shvbhbvezhcbsdkjcvezhjvcezhjcv ez,v eshjcvevjc zq,hv ehj hav ehjv eqzkhvc qehc
		ezc ,e vcehjzac ezc hqshjzeqh,c kezqjcqjz
		jzdcgvezhfvhezjfvcherzcvhjerzvhv shvbhbvezhcbsdkjcvezhjvcezhjcv ez,v eshjcvevjc zq,hv ehj hav ehjv eqzkhvc qehc
		ezc ,e vcehjzac ezc hqshjzeqh,c kezqjcqjz
		jzdcgvezhfvhezjfvcherzcvhjerzvhv shvbhbvezhcbsdkjcvezhjvcezhjcv ez,v eshjcvevjc zq,hv ehj hav ehjv eqzkhvc qehc
		ezc ,e vcehjzac ezc hqshjzeqh,c kezqjcqjz
		jzdcgvezhfvhezjfvcherzcvhjerzvhv shvbhbvezhcbsdkjcvezhjvcezhjcv ez,v eshjcvevjc zq,hv ehj hav ehjv eqzkhvc qehc
		ezc ,e vcehjzac ezc hqshjzeqh,c kezqjcqjz
		jzdcgvezhfvhezjfvcherzcvhjerzvhv shvbhbvezhcbsdkjcvezhjvcezhjcv ez,v eshjcvevjc zq,hv ehj hav ehjv eqzkhvc qehc
		ezc ,e vcehjzac ezc hqshjzeqh,c kezqjcqjz
		jzdcgvezhfvhezjfvcherzcvhjerzvhv shvbhbvezhcbsdkjcvezhjvcezhjcv ez,v eshjcvevjc zq,hv ehj hav ehjv eqzkhvc qehc
		ezc ,e vcehjzac ezc hqshjzeqh,c kezqjcqjz
		jzdcgvezhfvhezjfvcherzcvhjerzvhv shvbhbvezhcbsdkjcvezhjvcezhjcv ez,v eshjcvevjc zq,hv ehj hav ehjv eqzkhvc qehc
		ezc ,e vcehjzac ezc hqshjzeqh,c kezqjcqjz
		jzdcgvezhfvhezjfvcherzcvhjerzvhv shvbhbvezhcbsdkjcvezhjvcezhjcv ez,v eshjcvevjc zq,hv ehj hav ehjv eqzkhvc qehc
		ezc ,e vcehjzac ezc hqshjzeqh,c kezqjcqjz
		jzdcgvezhfvhezjfvcherzcvhjerzvhv shvbhbvezhcbsdkjcvezhjvcezhjcv ez,v eshjcvevjc zq,hv ehj hav ehjv eqzkhvc qehc
		ezc ,e vcehjzac ezc hqshjzeqh,c kezqjcqjz
	</div>
</div>