<div class="row">
	<div class="list-group col-md-2">
		<ul>
			<li *ngFor="let v of villes" class="list-group-item list-group-item-action">
				<a (click)="getCinemas(v)">{{v.name}}</a>
			</li>
		</ul>
	</div>
	<div class="container col-md-10">
		<div class="row">
			<button *ngFor="let c of cinemas" (click)="getSalles(c)" class="btn btn-primary">
				{{c.name}}
			</button>
		</div>

		<br>

		<div class="row">
			<div *ngFor="let s of salles" class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4>{{s.name}}</h4>
					</div>
					<div class="panel-body">
						<div *ngFor="let pf of s.projectionFilms">
							<div class="col-md-6 thumbnail">
								{{pf.film.titre}} - {{pf.film.realisation}} ({{pf.film.categorie.name}})
								<img class="thumbnail" src="{{pf.film.photo}}" />
								{{pf.film.description}}
							</div>
							<div class="col-md-6">
								<ul>
									<li class="list-group-item list-group-item-action">
										<a (click)="getPlaces(pf)">{{pf.dateProjection | date:'dd/MM'}} - {{pf.seance.heureDebut | date:'hh:mm'}}</a>
									</li>
								</ul>
								<div *ngIf="currentSalleId===pf.id">
									<button class="btn btn-primary"  *ngFor="let p of places">{{p.numero}}</button>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>


