<div class="container">
	<div class="row">
		<div class="col-md-2">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Ajouter Un Film</h4>
				</div>
				<div class="panel-body">

					<div>

						<div class="form-group">
							<label for="titre">Titre</label>
							<input id="titre" class="form-control" [(ngModel)]="film.titre">
						</div>
						<!-- <div>
						<img src="{{C:\Users\IN-MP-031\Desktop\photos projet final\bob.jpg}}" alt="image"/>
							</div> -->

							

						<div class="form-group">
							<label for="duree">Durée</label>
							<input id="duree" class="form-control" [(ngModel)]="film.duree">
						</div>
						<div class="form-group">
							<label for="realisation">Réalisateur</label>
							<input id="realisation" class="form-control" [(ngModel)]="film.realisation">
						</div>
						<div class="form-group">
							<label for="description">Description</label>
							<input id="description" class="form-control" [(ngModel)]="film.description">
						</div>
						<div class="form-group">
							<label for="photo">Photo</label>
							<input id="photo" class="form-control" aria-describedby="photoHelp"
								[(ngModel)]="film.photo">
							<small id="photoHelp" class="form-text text-muted">Entrez l'URL de l'affiche</small>
						</div>
						<div class="form-group">
							<label for="date">Date de sortie</label>
							<input id="date" class="form-control" aria-describedby="dateHelp"
								[(ngModel)]="film.dateSortie">
							<small id="dateHelp" class="form-text text-muted">Format : YYYY-MM-DD</small>
						</div>
						<div class="form-group">
							<label for="categorie">Catégorie</label>
							<select class="form-control" [(ngModel)]="film.categorie">
								<option *ngFor="let c of categories" [ngValue]="c">{{c.name}}</option>
							</select>
						</div>
						<button (click)="save()" class="btn bg-primary espace">
							Sauver
						</button>

					</div>
				</div>
			</div>
		</div>
		<div class="col-md-10">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h4>Lister les films</h4>
				</div>
				<div class="panel-body">
					<div *ngIf="films.length>0">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Titre</th>
									<th scope="col">Durée</th>
									<th scope="col">Réalisateur</th>
									<th scope="col">Description</th>
									<th scope="col">Photo</th>
									<th scope="col">Date</th>
									<th scope="col">Catégorie</th>
									<th scope="col">Modifier</th>
									<th scope="col">Supprimer</th>
								</tr>
							</thead>

							<tbody>
								<tr *ngFor="let f of films">
									<th scope="col"> {{f.id}}</th>
									<td> {{f.titre}} </td>
									<td> {{f.duree}} </td>
									<td> {{f.realisation}} </td>
									<td> {{f.description}} </td>
									<td> {{f.photo}} </td>
									<td> {{f.dateSortie | date:'dd/MM/yyyy'}} </td>
									<td> {{f.categorie.name}} </td>
									<td><button class="btn btn-primary" (click)="detail(f.id)">Modifier</button></td>
									<td><button class="btn btn-danger" (click)="delete(f.id)">Supprimer</button></td>
								</tr>
							</tbody>
						</table>
						<!-- <img src="C:\Users\IN-MP-031\Desktop\photos%20projet%20final\bob.jpg" alt="image"/> -->
						<!-- <img [src]="cheminImage"/> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
