<div class="container">
<div class="row">
<div class="col-md-6">
<div class="panel panel-primary">
<div class="panel-heading">
<h4>Ajouter Une Categorie</h4>
</div>
<div class="panel-body">
<!-- formulaire de saisie de categorie -->
<div>
<input [(ngModel)]="categorie.name">
<button (click)="save()" class="btn bg-primary espace">
Ajouter
</button>
</div>
</div>
</div>
</div>
<div class="col-md-6">
<div class="panel panel-danger">
<div class="panel-heading">
<h4>Lister les categories</h4>
</div>
<div class="panel-body">
<div *ngIf="categories.length>0">
<table class="table table-striped">
<tr>
<td>ID</td>
<td>FILIERE</td>
<td>FILMS</td>
</tr>
<tr *ngFor="let cat of categories">
<td> {{cat.idCategorie}}</td>
<td> {{cat.nomCategorie}}</td>
<td><a class="clickable" (click)="detail(cat.idCategorie)">Detail</a></td>
<td><a class="clickable" (click)="delete(cat.idCategorie)">Delete</a></td>
</tr>
</table>
</div>
</div>
</div>
</div>
</div>
</div>