<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Ajouter Une Catégorie</h4>
				</div>
				<div class="panel-body">

					<div>

						<div class="form-group">
							<label for="nom">Nom</label>
							<input id="nom" class="form-control" [(ngModel)]="categorie.name">
						</div>
						
						<button (click)="save()" class="btn bg-primary espace">
							Sauver
						</button>

					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h4>Lister les catégories</h4>
				</div>
				<div class="panel-body">
					<div *ngIf="categories.length>0">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Nom</th>
									<th scope="col">Modifier</th>
									<th scope="col">Supprimer</th>
								</tr>
							</thead>

							<tbody>
								<tr *ngFor="let c of categories">
									<th scope="col"> {{c.id}}</th>
									<td> {{c.name}} </td>
									<td><button class="btn btn-primary" (click)="detail(c.id)">Modifier</button></td>
									<td><button class="btn btn-danger" (click)="delete(c.id)">Supprimer</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
