

  <div class="container">
  <div class="row">
    <button routerLink="/villes" class="btn btn-primary">Villes</button>
    <button routerLink="/cinema" class="btn btn-primary">Cinema</button>
    <button routerLink="/categories" class="btn btn-primary">Categories</button>
    <button routerLink="/salles" class="btn btn-primary">Salles</button>
    <button routerLink="/places" class="btn btn-primary">Places</button>
    <button routerLink="/films" class="btn btn-primary">Films</button>
    <button routerLink="/seances" class="btn btn-primary">Seances</button>
    <button routerLink="/projections" class="btn btn-primary">Projections</button>
    <button routerLink="/tickets" class="btn btn-primary">Tickets</button>
  </div>

  <div class="row">
    <router-outlet></router-outlet>
  </div>
   
  </div>