<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Ajouter Une Ville</h4>
				</div>
				<div class="panel-body">

					<div>

						<div class="form-group">
							<label for="nom">Nom</label>
							<input id="nom" class="form-control" [(ngModel)]="ville.name">
						</div>
						<div class="form-group">
							<label for="latitude">Latitude</label>
							<input id="latitude" class="form-control" [(ngModel)]="ville.latitude">
						</div>
						<div class="form-group">
							<label for="longitude">Longitude</label>
							<input id="longitude" class="form-control" [(ngModel)]="ville.longitude">
						</div>
						<div class="form-group">
							<label for="altitude">Altitude</label>
							<input id="altitude" class="form-control" [(ngModel)]="ville.altitude">
						</div>
						<button (click)="save()" class="btn bg-primary espace">
							Sauver
						</button>

					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h4>Lister les villes</h4>
				</div>
				<div class="panel-body">
					<div *ngIf="villes.length>0">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Nom</th>
									<th scope="col">Latitude</th>
									<th scope="col">Longitude</th>
									<th scope="col">Altitude</th>
									<th scope="col">Modifier</th>
									<th scope="col">Supprimer</th>
								</tr>
							</thead>

							<tbody>
								<tr *ngFor="let v of villes">
									<th scope="col"> {{v.id}}</th>
									<td> {{v.name}} </td>
									<td> {{v.latitude}} </td>
									<td> {{v.longitude}} </td>
									<td> {{v.altitude}} </td>
									<td><button class="btn btn-primary" (click)="detail(v.id)">Modifier</button></td>
									<td><button class="btn btn-danger" (click)="delete(v.id)">Supprimer</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
