<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Ajouter Une Ville</h4>
				</div>
				<div class="panel-body">
					<!-- formulaire de saisie de ville -->
					<div>

						<div class="form-group">
								<label for="name">Nom</label>
								<input id="name" class="form-control" [(ngModel)]="ville.name">
							</div>
Date
							<div class="form-group">
								<label for="name">Latitude</label>
								<input id="name" class="form-control" [(ngModel)]="ville.latitude">
							</div>

							<div class="form-group">
								<label for="name">Longitude</label>
								<input id="name" class="form-control" [(ngModel)]="ville.longitude">
							</div>

							<div class="form-group">
								<label for="name">Altitude</label>
								<input id="name" class="form-control" [(ngModel)]="ville.altitude">
							</div>

							<!-- <div class="form-group">
								<label for="name">Cinemas</label>
								<input id="name" class="form-control" [(ngModel)]="ville.cinemas">
							</div> -->


						<!-- <input [(ngModel)]="ville.name"> -->
						<button (click)="save()" class="btn bg-primary espace">
							Ajouter
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h4>Lister les villes</h4>
				</div>
				<div class="panel-body">
					<div *ngIf="villes.length>0">
						<table class="table table-striped">
							<thead>
							<tr>
								<td>id</td>
								<td>Name</td>
								<td>Latitude</td>
								<td>Longitude</td>
								<td>Altitude</td>
								<td>Cinemas</td>

								<!-- <td scope="col">Detail</td>
									<td scope="col">Delete</td> -->

							</tr>
							</thead>
							<tr *ngFor="let v of villes">
								<td> {{v.id}}</td>
								<td> {{v.name}}</td>
								<td> {{v.latitude}}</td>
								<td> {{v.longitude}}</td>
								<td> {{v.altitude}}</td>
								<td> {{v.cinemas}}</td>

								<td><a class="btn btn-primary" (click)="detail(v.idVille)">Detail</a></td>
								<td><a class="btn btn-danger" (click)="delete(v.idVille)">Delete</a></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>