<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Ajouter Une Salle</h4>
				</div>
				<div class="panel-body">
					<!-- formulaire de saisie de salle -->
					<div>

						<div class="form-group">
							<label for="name">Nom</label>
							<input id="name" class="form-control" [(ngModel)]="salle.name">
						</div>

						<div class="form-group">
							<label for="name">Nombre de places</label>
							<input id="name" class="form-control" [(ngModel)]="salle.nombrePlaces">
						</div>

						<div class="form-group">
							<label for="categorie">Cinéma</label>
							<select class="form-control" [(ngModel)]="salle.cinema">
								<option *ngFor="let c of cinemas" [ngValue]="c">{{c.name}}</option>
							</select>
						</div>


						<!-- <input [(ngModel)]="salle.name"> -->
						<button (click)="save()" class="btn bg-primary espace">
							Ajouter
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h4>Lister les salles</h4>
				</div>
				<div class="panel-body">
					<div *ngIf="salles.length>0">
						<table class="table ">
							<thead>
							<tr>
								
								<th scope="col">Id</th>
								<th scope="col">Nom</th>
								<th scope="col">NbPlaces</th>
								<th scope="col">Cinema</th>
								<th scope="col">Modifier</th>
								<th scope="col">Supprimer</th>
								<!-- <td>NAME</td>
								<td>NOMBREPLACES</td>
								<td>CINEMA</td> -->


							</tr>
							</thead>

							<tr *ngFor="let s of salles">
								<th scope="col"> {{s.id}}</th>
								<td> {{s.name}}</td>
								<td> {{s.nombrePlaces}}</td>
								<td> {{s.cinema}}</td>


								<td><a class="btn btn-primary" (click)="detail(s.id)">Detail</a></td>
								<td><a class="btn btn-danger" (click)="delete(s.id)">Delete</a></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>