

  <div class="container">
  <div class="row">
    
    <button routerLink="/villes" class="btn btn-primary espace">Villes</button>
    <button routerLink="/cinemas" class="btn btn-primary espace">Cinemas</button>
    <button routerLink="/categories" class="btn btn-primary espace">Categories</button>
    <button routerLink="/salles" class="btn btn-primar espace">Salles</button>
    <button routerLink="/places" class="btn btn-primary espace">Places</button>
    <button routerLink="/films" class="btn btn-primary espace">Films</button>
    <button routerLink="/seances" class="btn btn-primary espace">Seances</button>
    <button routerLink="/tickets" class="btn btn-primary espace">Tickets</button>
    <button routerLink="/projectionfilms" class="btn btn-primary espace">Projections</button>


    
  </div>

  <br>

  <div class="row">
    <router-outlet></router-outlet>
  </div>
   
  </div> 


  <!-- <div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="/administrateur">Administrateur<span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="/cinemas">Cinema</a></li>
        <li><a href="/villes">Ville</a></li>
        <li><a href="/salles">Salle</a></li>
        <li><a href="/places">Place</a></li>

        <li><a href="/categories">Categorie</a></li>
        <li><a href="/films">Film</a></li>
        <li><a href="/projectionfilms">Projection Film</a></li>
        <li><a href="/seances">Seance</a></li>
        <li><a href="/tickets">Ticket</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <br><br><br>
  <h1 class="page-header">Dashboard</h1>
</div> -->