

  <div class="container">
  <div class="row">
    
    <button routerLink="/villes" class="btn btn-primary espace">Villes</button>
    <button routerLink="/cinemas" class="btn btn-primary espace">Cinemas</button>
    <button routerLink="/categories" class="btn btn-primary espace">Categories</button>
    <button routerLink="/salles" class="btn btn-primar espace">Salles</button>
    <button routerLink="/places" class="btn btn-primary espace">Places</button>
    <button routerLink="/films" class="btn btn-primary espace">Films</button>
    <button routerLink="/seances" class="btn btn-primary espace">Seances</button>
    <button routerLink="/tickets" class="btn btn-primary espace">Tickets</button>
    <button routerLink="/projectionfilms" class="btn btn-primary espace">Projections</button>

  </div>

  <br>

  <div class="row">
    <router-outlet></router-outlet>
  </div>
   
  </div>